// // BG
// $main-bg: #2a3447;
// $soft-bg: #384256;
// $dark-bg: #222b3c;
// //TEXT
// $main-color: white;
// $soft-color: #ddd;
// $dark-color: #2a3447;

// BG
$main-bg: #12486B;
$soft-bg: #6a7283;
$dark-bg: #222b3c;
//TEXT
$main-color: white;
$soft-color: #FFCD4B;
$dark-color: #405a8a;